
/* Texts */

.text-center {
    text-align: center;

}

.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big {
    font-size: 1.75rem;
}

/* Colors */


.bg-dark-blue {
    background: #062e51;
}
.bg-light-blue {
    background: #336ea2;
}

/* Buttons */
.btn {
    margin-top: 1.25rem;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    letter-spacing: 1px;
    text-align: center;
}

.btn-light-blue{
    background-color: #336ea2;
}

.btn-light-blue:hover {
    color: #a7a7a7;
}

.btn-block {
    width: 100%;
    
}

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}

/* Forms */

.form-group {
    padding:  0.25rem 0;
}

.form-group label {
    display: block;
}

.form-control {
    width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    resize: none;
    border-radius: 10px;
}
