#navbar {
    flex-direction: column;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    height: 90px;
}

#navbar li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#training .items {
    flex-direction: column;
}
#training .items .item {
    width: 100%;
}

.courses .course {
    flex-direction: column;
}
